.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    background-color: #ECE8E2;
}

.disContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.statusContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.greenFont {
    font-family: "SF-Pro-Rounded";
    font-size: 24px;
    line-height: 33.6px;
    font-weight: 700;
    color: #29540E;
}

.smallGreenFont {
    font-family: "SF-Pro-Rounded";
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    color: #29540E;
}

.regularFont {
    font-family: "SF-Pro-Rounded";
    font-weight: 400;
    font-size: 16px;
    line-height: 18.16px;
}

.smallFont {
    font-family: "SF-Pro-Rounded";
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
}

.checkBoxFont {
    font-family: Arial;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.checkBoxContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.greyLine {
    background: rgba(0, 0, 0, 0.2);
    height: 8px;
    width: 115px;
    border-radius: 15px;
}

.greenLine {
    background: #97B05D;
    height: 8px;
    width: 115px;
    border-radius: 15px;
}

.greyFont {
    font-family: "SF-Pro-Rounded";
    font-size: 12px;
    font-weight: 800;
    color: rgba(0, 0, 0, 0.2);
}

.blackFont {
    font-family: "SF-Pro-Rounded";
    font-size: 12px;
    font-weight: 800;
    color: #000000B2;
}

.whiteContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    border-radius: 20px 20px 0 0;
    background-color: white;
    height: 400px;
}

.blackFont20 {
    font-family: "SF-Pro-Rounded";
    font-weight: 700;
    font-size: 20px;
    color: black;
}

.italicFont {
    font-family: "SF-Pro-Rounded";
    font-weight: 400;
    font-size: 16px;
    color: black;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.selectedButton {
    font-family: "SF-Pro-Rounded";
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: white;
    border: 2px solid white;
    width: 385px;
    height: 48px;
    border-radius: 20px;
    background-color: #204219;
}

.unselectedButton {

}